{
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "node/no-unpublished-require": [0]
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
