{
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "node/no-unpublished-require": [0],
    "semi": [2, "always"]
  }
}
