# --------------------------------------------------------------------
# Deck specific ignores.
# --------------------------------------------------------------------

bower_components
node_modules

# --------------------------------------------------------------------
# IDE and editor ignores.
# --------------------------------------------------------------------

.idea
*.sublime-workspace

# --------------------------------------------------------------------
# NodeJS ignores.
# --------------------------------------------------------------------

logs
*.log
npm-debug.log*
.npm
.eslintcache
.node_repl_history

# --------------------------------------------------------------------
# PHP ignores.
# --------------------------------------------------------------------

/vendor/
