<select name="my_select" id="my-select">
  <option value="option-one">Option one</option>
  <option value="option-two" selected>Option two</option>
  <option value="option-three">Option three</option>
</select>
