# --------------------------------------------------------------------
# Theme specific ignores.
# --------------------------------------------------------------------

bower_components
node_modules

# --------------------------------------------------------------------
# Asset ignores.
# --------------------------------------------------------------------

assets/dist

# --------------------------------------------------------------------
# IDE and editor ignores.
# --------------------------------------------------------------------

.idea
*.sublime-workspace
.vscode

# --------------------------------------------------------------------
# NodeJS ignores.
# --------------------------------------------------------------------

logs
*.log
npm-debug.log*
.npm
.eslintcache
.node_repl_history

